---
layout: default
---

<section id="home">
  <div id="home-slider" class="flexslider kenburn">
    <ul class="slides">
      <li>
        <img src="{{ "/img/galaxy.jpg" | prepend: site.baseurl }}">
        <div class="slide-wrap">
          <div class="slide-content">
            <div class="container">
              <div class="col-md-8">
              <h2>Welcome to Reasonable Faith's Singapore Chapter!</h2>
              <h4>
                We are a Singaporean apologetics ministry featuring the work of philosopher and theologian Dr. William Lane Craig in order to:
              </h4>
              <ol>
                <li>provide an articulate, intelligent voice for biblical Christianity in the public arena.</li>
                <li>challenge unbelievers with the truth of biblical Christianity.</li>
                <li>train Christians to state and defend Christian truth claims with greater effectiveness.</li>
              </ol>
              <br/>
              <p style="color:white;"> We usually have monthly meetings on the 1st Weds of each month at 8pm. This is held at Graduate Christian Fellowship Conference Room,
              420 North Bridge Road #05-04, 188727. We will announce the meetings on our Facebook Group and post it here.</p>
              <p style="color:white;"> We also provide churches and ministries apologetics training through conducting courses and giving talks. Please contact us if interested.</p>
              <!--<p><a href="conference.html" data-scroll="true" class="btn btn-light-out">RSVP for our Conference!</a>
              </p>!-->
              <br />

              <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup">
              <form action="https://reasonablefaithsingapore.us12.list-manage.com/subscribe/post?u=e36819a9327cb6f6af1cb2899&amp;id=be063efe6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate inline-form dark" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll" class="input-group">
              	     <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e36819a9327cb6f6af1cb2899_be063efe6e" tabindex="-1" value=""></div>
                       <span class="input-group-btn">
                         <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-light-out">Subscribe</button>
                       </span>
                  </div>
              </form>
              </div>
              <!--End mc_embed_signup-->

              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

{% include latest_event.html %}

{% include all_events.html %}

<section id="resources">
  <div class="container">
    <div class="title center">
      <h2>Resources</h2>
      <hr>
    </div>
    <div class="section-content">
      <div class="col-md-6">
          <div class="post-body">
              <h4>What is the Christian Message?</h4>
              <br/>
          </div>
          <div class="post-media">
            <div class="media-video">
              <iframe src="https://www.youtube.com/watch?v=LSD5u5W-8Wc" frameborder="0"></iframe>
            </div>
          </div>
          <div class="post-body">
              <br/>
              <p>Ever wondered what do Christians believe? This video summarises what Christians call the gospel (the good news).</p>
              <br/>
          </div>
      </div>
      <div class="col-md-6">
          <div class="post-body">
              <h4>Why did the Universe Begin?</h4>
              <br/>
          </div>
          <div class="post-media">
            <div class="media-video">
              <iframe src="https://www.youtube.com/embed/6CulBuMCLg0" frameborder="0"></iframe>
            </div>
          </div>
          <div class="post-body">
              <br/>
              <p>Learn more about the philosophical and scientific evidence behind the universe coming into existence, and how these support the existence of God.</p>
              <br/>
          </div>
      </div>
      <div class="col-md-6">
          <div class="post-body">
              <h4>Why is the universe fine-tuned for life?</h4>
              <br/>
          </div>
          <div class="post-media">
            <div class="media-video">
              <iframe src="https://www.youtube.com/embed/UpIiIaC4kRA" frameborder="0"></iframe>
            </div>
          </div>
          <div class="post-body">
              <br/>
              <p>Learn more about why God is the most plausible explanation for the delicate balance of initial conditions that permitted life.</p>
              <br/>
          </div>
      </div>
      <div class="col-md-6">
          <div class="post-body">
              <h4>Did Jesus rise from the dead?</h4>
              <br/>
          </div>
          <div class="post-media">
            <div class="media-video">
              <iframe src="https://www.youtube.com/embed/8AduPVkqbis" frameborder="0"></iframe>
            </div>
          </div>
          <div class="post-body">
              <br/>
              <p>This short video introduces the historical case for the resurrection of Jesus Christ.</p>
              <br/>
          </div>
      </div>
    </div>
  </div>
</section>
