{%- assign event = site.events.last %}
<section id="events">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-4 img-side img-left">
        <div class="img-holder">
          <img src={{ event.image | prepend: site.baseurl }} class="bg-img">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
        <div class="row">
          <div class="col-md-12">
            <h6>Latest Event</h6>
            <hr>
            <h4>{{ event.title }}</h4>
            <p>{{ event.description }}</p>
            <br/>
            <div class="icon-box-basic"><i class="icon-calendar"></i>
              <h4>{{ event.date | date_to_long_string }}</h4>
              <p>8pm - 9.30pm</p>
            </div>
            <div class="icon-box-basic"><i class="icon-map-pin"></i>
              <h4>{{ event.venue }}</h4>
              <p>{{ event.address }}</p>
            </div>
            <p><a href={{ event.facebook }} target="_blank" class="btn btn-color-out">RSVP on Facebook</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
